.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:8px;
  &__text{
    font:700 10px/12px var(--font);
    color: var(--accent);
    margin: 0;
    text-align: center;
  }
}