// @import '../settings/vars';
.book{
  padding-bottom: 70px;
}
.book-content {
  padding-top: 30px;
  display: grid;
  grid-template-areas:
    'preview'
    'descr'
  ;

  &__shell {
    max-width: 168px;
    margin: 0 auto 20px;
    grid-area: preview;
    position: relative;
    z-index: 1;
    
    &::after{
      content: '';
      position: absolute;
      bottom: -20%;
      left: 50%;
      transform: translateX(-50%);
      width: 233px;
      height: 233px;
      background-color: #ff0000;
      border-radius: 50%;
      filter: blur(150px);
      z-index: -1;
    }
  }
  &__image{
    border-radius: 10px;
  }
  .book-content__descr{
    grid-area: descr;
  }
  &__title {
    font: 700 26px/32px var(--font);
    color: var(--light);
    margin: 0 0 4px;
  }

  &__author {
    font: 400 14px/18px var(--font);
    color: var(--light);
    margin: 0 0 15px;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &-star {
      width: 18px;
      height: 18px;
    }
  }

  &__more {
    font: 400 12px/14px var(--font);
    color: var(--light);
    margin: 0 0 5px;
  }

  &__text {
    font: 400 12px/14px var(--font);
    color: var(--light);
    margin: 0;
  }

  &__wrapper {
    grid-area: btnAction;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    padding: 5px 5px;
  }

  &__btn {
    background-color: var(--light);
    border-radius: 15px;
    text-align: center;
    padding: 18px 0;
    font: 500 14px/16px var(--font);
    color: var(--black);
    width: 320px;
    margin: 0 auto;
    display: block;
  }
}

@include tablet{
  .book-content__shell{
    max-width: 300px;
  }
  .book-content__shell::after {
    width: 353px;
    height: 353px;
  }
}
@include laptop{
  .book-content {
   
    padding-top: 30px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap:20px 50px;
    grid-template-areas: 
    "preview descr"
    "btnAction .";
  }
  .book-content__descr{
    position: relative;
    z-index: 2;
  }
  .book-content__shell{
    margin: 0;
  }
  .book-content__wrapper {
    position: static;
    background-color: transparent;
    padding: 0;
  }
  .book-content__btn {
    width: 100%;
    z-index: 2;
    position: relative;
  }
  .book-content__title {
    font: 700 40px/48px var(--font);
  }
  .book-content__author {
    font: 400 18px/22px var(--font);
  }
  .book-content__rating-star {
    width: 36px;
    height: 36px;
  }
  .book-content__text, .book-content__more {
    font: 400 14px/18px var(--font);
  }
}