
.library {
  padding-bottom: 70px;
  &__header {
    margin-bottom: 25px;
  }

  &__actions {
    margin-bottom: 20px;
  }

  &__title {
    font: 700 26px/32px var(--font);
    color: var(--light);
    margin: 0 0 8px;
  }

  &__counts {
    font: 400 14px/16px var(--font);
    color: var(--light);
    margin: 0 0 25px;
  }

  &__filters {
    margin-bottom: 20px;
  }
}

.filters {

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.filter {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__btn-text {
    font: 500 10px/13px var(--font);
    color: var(--light);
    display: block;
  }
}

.filter-list {
  background-color: var(--light);
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  top: 30px;

  &--sort {
    left: -10px;
    width: 126px;
    @extend .hidden;
  }

  &--actions {
    right: -10px;
    width: 142px;
    @extend .hidden;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    background-color: #EAEAEA;
    border-radius: 16px;
    text-align: center;
    font: 400 12px/12px var(--font);
    color: var(--black);
    text-align: center;
    padding: 8px;
  }
}

.library-book {
  @extend .container;
  padding: 0 12px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px 26px;
}

.cart{
  background-color: var(--light);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  gap:10px;
  &__preview{
    border-radius: 4px;
    overflow: hidden;
    width: 100px;
    height: 143px;
    flex-shrink: 0;
    position: relative;
  }
  &__preview-img{
    grid-area: 1/1;
  }
  &__status{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 2px;
    border-radius: 15px;
    background-color: var(--light);
    font:400 10px/12px var(--font);
    color: var(--default);
    margin: auto auto 8px;
    width: 90%;
    text-align: center;
  }
  &__title{
    margin:0 0 2px;
    color: var(--black);
    font:500 16px/19px var(--font);
  }
  &__author{
    font:500 12px/14px var(--font);
    color: var(--gray);
    margin: 0 0 10px;
  }
  &__descr{
    font:400 12px/14px var(--font);
    color: var(--black);
    margin-bottom: 6px;
  }
  &__rating{
    display: flex;
    align-items: center;
  }
  &__rating-star{
    width: 18px;
    height: 18px;
  }
}
@media (max-width:360px) {
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
@include tablet{
  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  }
}
@include laptop{
  .library-book {
    padding: 0 45px;
  }
  .book-list {
    max-width: 700px;
  }
  .header__btn-wrapper{
    position: static;
    width: fit-content;
    margin:0 118px 0 auto;
    padding: 0;
  }
  .btn-add--mobil{
    display: none;
  }
  .btn-add--desktop{
    display: block;
    width: 320px;
    text-align: center;
    padding: 18px 0;
    background-color: var(--accent);
    border-radius: 8px;
  }
  .btn-add__text{
    color: var(--light);
    font:500 14px/16px var(--font);
    margin: 0;
  }
}
@include desktop {
  .book-list {
    max-width: 780px;
  }
}